{
    "listening_port": "12345",
    "suboram_addrs": [["localhost:12346"], ["localhost:12347"], ["localhost:12348"], ["localhost:12349"], ["localhost:12350"], ["localhost:12346"], ["localhost:12347"], ["localhost:12348"], ["localhost:12349"], ["localhost:12350"]],
    "epoch_ms": 1000,
    "num_blocks": 1024,
    "balancer_id": 0,
    "threads": 1,
    "mode": "server"
}
